@font-face {
    font-family: 'norse-bold';
    src: url(fonts/norse-bold.otf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0px;
    height: 100dvh;
    /* height: 100%; */

}

body {
    /* height: 100dvh; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.layout {
    display: flex;
}

.nav-bar {
    display: flex;
    flex-direction: column;
    background-image: url(images/halie-west-25xggax4bSA-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 40%;
    /* border-style: solid; */

    /* align-items: center; */
    /* justify-content: space-between; */
    /* position: relative; */
    /* align-content: space-between; */
}
.nav-body {
    /* min-height: 600px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border-style: solid;
    border-color: red; */
    flex-grow: 1;
}

    .logo-background {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.278);
        text-align: center;
        height: 180px;
        /* border-style: solid;
        border-color: red; */
        margin-bottom: 40%;
    }
    .logo-name {
        font-family: 'norse-bold','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 100px;
        color: white;
        /* border-color: red;
        border-style: solid; */
        height: auto;
        vertical-align: middle;
    }
    .logo-img {
        width: auto;
        height: 160px;
        /* border-color: red;
        border-style: solid */
    }
.credit {
    color: white;
    text-align: center;
    padding: 10px;
    /* border-style: solid;
    border-color: red; */
    height: 15px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
.credit a {
    color: white;
    text-decoration: underline;
    font-weight: normal;
}

.main-body {
    width: 60%;
    background-color: rgb(248, 249, 250);
    /* border-style: solid; */
    /* border-color: rgb(0, 255, 140);
    position: relative; */
}

.main-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* padding: 40px; */
    height: 33.3dvh;
    /* flex-grow: 1; */
    /* border-style: solid;
    border-color: red; */
    margin-bottom: 40px;
}

.main-header-top {
    min-height: 50%;
    flex-grow: 1;
}

.header-message p, form p {
    /* margin-top: 50%; */
    font-size: 24px;
    font-weight: bold;
    height: auto;
    padding: 20px 40px;
    /* margin-top: 20px; */
}

form { 
    width: 100%;
    height: auto;
}

input , label, span {
    display: block;
    width: 240px;
    height: 30px;
    border-width: 1px;
    border-radius: 5px;
    border-color: #E5E7EB;
}

/* input[type="tel"] {
    border-style: none;
} */

label {
    font-size: 12px;
    height: auto;
    letter-spacing: 1px;
}

input {
    padding: 1px 8px;
    font-size: 14px;
    background-color: rgba(229, 231, 235, 0.268);
}

input:focus {
    box-shadow: 2px 2px 10px rgb(204, 204, 204);
    background-color: rgba(84, 99, 66, 0.199);
}

.main-form {
    display: flex;
    height: auto;
    background-color: white;
    /* padding: 40px; */
    /* border-style: solid;
    border-color: red; */
    box-shadow: 2px 2px 10px rgb(204, 204, 204);
}

.form-row {
    display: flex;
    height: auto;
    margin-bottom: 40px;
}

.field {
    padding: 0px 40px;
    display: block;
    height: auto;
}

.field span {
    color: red;
    font-size: 10px;
    margin-top: 1px;
    width: auto;
    height: 10px;
    padding-left: 6px;
}

.main-footer {
    height: auto;
    padding: 40px;
    /* border-style: solid;
    border-color: rgb(8, 0, 255); */
}

.main-footer p {
    margin-top: 40px;
    height: 0px;
}

button {
    width: 220px;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(84,99,66);
    box-shadow: 2px 2px 10px rgb(204, 204, 204);
    border-radius: 10px;
    color: white;
    border-style: none;
}

a {
    color: rgb(84,99,66); 
    font-weight: bold;
    text-decoration: none;
}

